* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.mainContainer {
    width: 100%;
    height: 100vh;
}

.layoutContainer {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100vh;
}

/* CLASSI GENERICHE */

.userIcon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.inputStyle {
    flex-grow: 1;
    border-radius: 25px;
    padding: 5px 5px 5px 35px;
    border: none;  
}

/* ZONA LISTA MESSAGGI*/
.users {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: lightgrey;
}

.userToolbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.userToolbar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emptySpace {
    flex-grow: 1;
}

.userToolbar i {
    font-size: 20px;
    padding: 0 15px;
    color: #808080;
}

.optMex {
    display: flex;
    width: 100%;
    background-color: lightskyblue;
    padding: 10px;
}

.bell_box_container{
    width: 50px;
    margin-right: 15px;
}

.bell_box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    flex-grow: 1;
}

.bell_box i {
    color: lightskyblue;
}

.text_box {
    display: flex;
    flex-direction: column;
}

.text_box span {
    font-size: 14px;
}

.search {
    display: flex;
    position: relative;
    padding: 10px;
}

.search i {
    position: absolute;
    top: 30%;
    left: 20px;
    color: #808080;
}

.chatPrev {
    flex-grow: 1;
    background-color: white;
    padding-top: 10px;
    overflow: auto;
}

.singleUser {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.singleUser:hover {
    background-color: rgb(241, 241, 241);
}

.singleUser.active {
    background-color: rgb(196, 196, 196);
}

.userImg_box {
    display: flex;
    margin-right: 10px;
    width: 20%;
}

.userText_box {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userText_box p {
    padding: 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastMsgHour {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 14px;
}

/* ZONA CHAT APERTA*/
.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.openChatToolbar {
    background-color: lightgray;
    border-left: 1px solid #808080;
}

.emptySpace {
    padding-left: 10px;
}

.chatSpace {
    width: 100%;
    background-image: url("../img/mine.jpg");
    flex-grow: 1;
    overflow: auto;
}

.newMex {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: lightgray;
}

.newMex i {
    font-size: 25px;
    color: #808080;
    padding: 5px 12px;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 50px;
}

.msg {
    display: inline-block;
    flex-grow: 0;
    position: relative;
    padding: 5px 45px 5px 10px;
    border-radius: 10px;
    margin: 10px 0;
}

.msg.sent {
    align-self: flex-end;
    background-color: lightgreen;
    margin-right: 15px;
}

.msg.received {
    background-color: whitesmoke;
    margin-left: 15px;   
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: 0;
}

.green {
    border-top: 10px solid lightgreen;
    right: -9px;
}

.white {
    border-top: 10px solid whitesmoke;
    left: -9px;
}

.popup {
    position: absolute;
    top: 18px;
    right: -40px;
    background-color:rgba(245, 245, 245, 0.8);
    width: 160px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px lightgray;
    z-index: 1;
}

.popup p {
    padding: 15px 20px;
}

.popup p:hover {
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
}

.hours {
    font-size: 12px;
    position: absolute;
    bottom: -5px;
    right: 5px;
    width: 35px;
    padding: 5px;
    color: #808080; 
}

.iconToListOption {
    position: absolute;
    top: -5px;
    right: 10px;
    color: gray;
    font-size: 25px;
    display: none;
}

.msg:hover .iconToListOption {
    display: inline-block;
}

.writeMessage {
    flex-grow: 1;
    padding: 8px 10px;
    border: none;
    border-radius: 25px;
}

/* PER ELIMINARE IL BORDO NERO CHE SI ATTIVA QUANDO SI SELEZIONA UN INPUT */
.writeMessage:active,
.writeMessage:focus,
.inputStyle:active,
.inputStyle:focus {
    outline: none;
}